
body {
 	background: #E4FCFF;
 	color: #0c7b93;
 	font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: lighter;
  align-content: center;
}

h2,h3 {
	font-family: 'Permanent Marker', cursive;
 	  color: #142850;
  	font-size: 22px;
  	font-weight: weight;
    align-content: center;
}
h1 {
  color: red;
  font-size: 40px;
  font-family: bradley hand;  
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #AE22C4;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.5s ease;
}
a:hover {
  color: #c06c84;
}

#MarcDeslondes {
border-radius: 50%
}

.container {
 width: 600px;
 margin: 80px auto;
 background: white;
 text-align: center;
}

@media (max-width: 800px){
    .container {
    width:600px;
    }
  }


@media (max-width: 600px){
    .container {
    width:400px;
    }
  }

.card-white {
 background-color: white;
 padding: 40px;
 box-shadow:0px 10px 30px; 
 border-radius:20px;
 margin: 20px 0px;
 text-align: center;
}

.btn-blue {
background-color: #6B72E1;
color: white;
padding: 8px 20px;
border-radius: 10px;
}

.btn-blue: hover {
  background-color: black;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding:30px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230,230,230)
}

.list-inline i hover {
  color: black;
}

#introduction p {
  margin-bottom: 50px;
}

.list-inline i:hover {
  color: #DF7401;
}



















